.form {
  background: rgba(5, 32, 58, 0.404);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(61, 61, 61, 0.075);
}
.formCont {
  width: 60%;
  margin: 20px auto;
  h4,
  p {
    color: #f0f8ff;
  }
  div {
    margin-bottom: 0.7vh;
  }
}
.inputs,
.inputs:hover {
  div:before,
  div:hover {
    border-color: #f0f8ff;
  }
  div:before:hover {
    border-color: aqua;
  }
}
@media screen and (max-width: 950px) {
  .form {
    width: 90%;
    margin: 0 auto;
  }
  .formCont {
    width: 90%;
    margin: 10px;
    h4,
    p {
      color: #f0f8ff;
    }
    div {
      margin-bottom: 0;
    }
  }
}
