@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200&display=swap");

.headingNum {
  position: absolute;
  left: 0;
  font-size: 40px;
  padding-left: 62px;
  padding-right: 32px;
  font-family: "Oxanium";
  //   line-height: 1.1;
  color: #ff4d5a;
  margin: 0;
}
.headingNum::before {
  content: "";
  width: 48px;
  height: 2px;
  background-color: #020b16;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.skillWrap {
  margin-top: 20px;
}
.passionHead {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 138px;
  margin-top: 144px;
}
.passionHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10%;
  box-sizing: content-box;
  max-width: 1200px;
  width: 100%;
  margin: auto;

  h2 {
    font-size: 40px;
    color: #1f2630;
    letter-spacing: 2px;
    font-family: "Oxanium";
    margin-right: 32px;
    padding-top: 12px;
    // line-height: 1.2;
  }
}

.skillCont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  margin-top: 144px;
  font-family: "Oxanium";
}
.skillList {
  width: 47%;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}
.skillItem {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skillIcon {
  width: 10%;
  margin: 0;
  padding: 0;
  img {
    width: 100%;
  }
}
.skillDetail {
  width: 85%;
}
.skillMeta {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}
.skillName {
  display: flex;
  align-items: flex-end;
}
.skillTitle {
  font-size: 28px;
  color: #072142;
  letter-spacing: 2px;
  // font-weight: 900;
  margin: 0;
  // line-height: 1.2;
}
.skillTime {
  font-size: 16px;
  // line-height: 1.2;
  color: #828c96;
  margin: 0;
  margin-left: 8px;
  letter-spacing: 2px;
}
.skillProcent {
  font-size: 28px;
  color: #072142;
  letter-spacing: 2px;
  margin: 0;
  // line-height: 1.2;
}
.skillBar,
.skillBar80,
.skillBar90,
.skillBar70,
.skillBar60,
.skillBar50 {
  width: 100%;
  height: 14px;
  background-color: #fff;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 5px 15px 0 #313b4985;
}
.skillBar::after,
.skillBar80::after,
.skillBar90::after,
.skillBar70::after,
.skillBar60::after,
.skillBar50::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 10px;
  transition: all ease 3s;

  // background-image: linear-gradient(to right, #072141, #8c2b7a 50%, #ff4d5a );
}
.skillBar::after {
  width: 10%;
  background-image: linear-gradient(to right, #072142, #8c2b7a 42%, #ff4d5a);
}
.skillBar80::after {
    width: 80%;
  background-image: linear-gradient(to right, #072142, #8c2b7a 42%, #ff4d5a);
}

.skillBar90::after {
  width: 90%;
  background: linear-gradient(to right, #072142, #8c2b7a 50%, #ff4d5a);
}
.skillBar70::after {
  width: 70%;
  background: linear-gradient(to right, #072142, #8c2b7a 65%, #ff4d5a);
}
.skillBar60::after {
  width: 60%;
  background: linear-gradient(to right, #072142, #8c2b7a 75%, #ff4d5a);
}
.skillBar50::after {
  width: 50%;
  background: linear-gradient(to right, #072142, #8c2b7a 65%);
}
