.navbar, .navbarDown {
  z-index: 2;
  color: #fff;
}
.navbarDown {
    color: black;
}
.titleNav {
  position: fixed;
  top: 3vh;
  left: 5vw;
  margin: 0;

  z-index: 2;
}
.menu {
 font-size: 32px;
  position: fixed;
  top: 3vh;
  right: 5vw;
  z-index: 2;
//   display: inline-block;
  cursor: pointer;
//   background-color: #fff;
  div {
      color: rgb(161, 91, 91);
  }
}
// .menu::before, .menu::after {
//     content: "";
//     width: 35px;
//   height: 2px;
//   background-color: #333;
//   margin: 6px 0;
//   transition: 0.4s;
// }
// .menu::before {
//     top: 0;
//     transform: rotate(-45deg) translate(-5px, 6px);
// }
// .menu::after {
//     bottom: 0;
//     left: 0;
//     transform: rotate(45deg) translate(-5px, -6px);
// }

.arrow,
.arrowHome {
  position: fixed;
  top: 13vh;
  left: 5vw;
  width: 45px;
  font-size: 2em;

  cursor: pointer;
  transition: opacity ease 1s;
}
.arrow {
  z-index: 2;
  opacity: 1;
}
.arrowHome {
  z-index: -2;
  opacity: 0;
}
