@import url("https://fonts.googleapis.com/css2?family=Days+One&display=swap");
.navbar, .navbarDown {
  z-index: 4;
  color: #fff;
}

.navbarDown {
  color: black;
}

.titleNav {
  position: fixed;
  top: 3vh;
  left: 5vw;
  margin: 0;
  font-family: 'Days One', sans-serif;
  z-index: 5;
}

.menu {
  font-size: 32px;
  position: fixed;
  top: 3vh;
  right: 5vw;
  z-index: 5;
  cursor: pointer;
}

.menu div {
  color: #a15b5b;
}

.menuActive, .menuPassive {
  width: 80px;
  overflow: hidden;
}

.menuActive span, .menuPassive span {
  display: block;
  width: 100%;
  border-radius: 30px;
  height: 3px;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
}

.menuActive span + span, .menuPassive span + span {
  margin-top: 14px;
}

.menuActive span:nth-child(1) {
  -webkit-animation: ease 0.7s topp forwards;
          animation: ease 0.7s topp forwards;
}

.menuPassive span:nth-child(1) {
  -webkit-animation: ease 0.7s top-2 forwards;
          animation: ease 0.7s top-2 forwards;
}

.menuActive span:nth-child(2) {
  -webkit-animation: ease .7s scaled forwards;
          animation: ease .7s scaled forwards;
}

.menuPassive span:nth-child(2) {
  -webkit-animation: ease .7s scaled-2 forwards;
          animation: ease .7s scaled-2 forwards;
}

.menuActive span:nth-child(3) {
  -webkit-animation: ease .7s bottom-1 forwards;
          animation: ease .7s bottom-1 forwards;
}

.menuPassive span:nth-child(3) {
  -webkit-animation: ease .7s bottom-2 forwards;
          animation: ease .7s bottom-2 forwards;
}

@-webkit-keyframes topp {
  0% {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    top: 22px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    top: 22px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes topp {
  0% {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    top: 22px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    top: 22px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes top-2 {
  0% {
    top: 22px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    top: 22px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes top-2 {
  0% {
    top: 22px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    top: 22px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes bottom-1 {
  0% {
    bottom: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    bottom: 22px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    bottom: 22px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

@keyframes bottom-1 {
  0% {
    bottom: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    bottom: 22px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    bottom: 22px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

@-webkit-keyframes bottom-2 {
  0% {
    bottom: 22px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  50% {
    bottom: 22px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    bottom: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 22px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  50% {
    bottom: 22px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    bottom: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@-webkit-keyframes scaled {
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes scaled {
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes scaled-2 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaled-2 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.arrow,
.arrowHome {
  position: fixed;
  top: 13vh;
  left: 5vw;
  width: 45px;
  font-size: 2em;
  cursor: pointer;
  -webkit-transition: opacity ease 1s;
  transition: opacity ease 1s;
}

.arrow {
  z-index: 2;
  opacity: 1;
}

.arrowHome {
  z-index: -2;
  opacity: 0;
}
/*# sourceMappingURL=Navbar.module.css.map */