.home {
  position: relative;
  height: 100vh;
}

.one {
  position: fixed;
  width: 100%;
  top: 0;
  transition: all ease 1s;
}
.two,
.twoFromPage {
  position: fixed;
  width: 100%;
  top: -100vh;
}
.two {
  transition: all ease 1s;
}
.three,
.threeFromPage {
  position: fixed;
  width: 100%;
  top: -200vh;
}
.three {
  transition: all ease 1s;
}
.four {
  position: fixed;
  width: 100%;
  top: -300vh;
  transition: all ease 1s;
}
