.home {
    // background: linear-gradient(0deg, rgb(6, 22, 32) 0%, rgb(11, 43, 73) 100%);
    position: relative;
    height: 100vh;
    
}

.one {
    position: fixed;
    width: 100%;
    top: 0;
    // transform: translate3d(0px, -00vh, 0px);
    transition: all ease 1s;
}
.two, .twoFromPage {
    position: fixed;
    width: 100%;
    top: -100vh;
    // 

    // transform: translate3d(0px, -90vh, 0px);
}
.two {
    transition: all ease 1s;
}
.three {
    position: fixed;
    width: 100%;
    top: -200vh;
    transition: all ease 1s;

    // transform: translate3d(0px, -200vh, 0px);
}
.four {
    position: fixed;
    width: 100%;
    top: -300vh;
    transition: all ease 1s;
}